.cartWrap1{
    

.f{
    background: red;
    width: 360px;
    height: 487px;
    background: url('../../img/photoCart1.png')  no-repeat;

    .wrapContent{
        padding:42px 32px 0px 42px;

    .title{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 140%;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 28px;
    }
    .seo{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        color: #FFFFFF; 
        margin-top: 20px; 
        margin-bottom: 20px;
    }
    .hr{
        // background: linear-gradient(180deg, rgba(51, 51, 51, 0) 0%, #333333 86.98%);
        background: #FFFFFF;
        opacity: 0.2;
    }
    .content{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        color: #FFFFFF;
        opacity: 0.5;
        margin-top: 20px;
        margin-bottom: 28px;
    }
    .sale{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        color: #FFFFFF;  
        margin-bottom: 36px;
    }
    .btnCart{
        padding: 16px 32px;
        width: 296px;
        height: 52px;
        left: 32px;
        top: 395px;
        border: 1px solid #FF5900;
        border-radius: 100px; 
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #FF5900;
        background: linear-gradient(180deg, rgba(51, 51, 51, 0) 0%, #333333 86.98%), url(../../img/photo.png)
    }
 }
}
}
// .cart1{
//     width: 360px;
//     height: 486px;
//     background: url('../../img/photoCart1.png')  no-repeat;
// }
// .cart2{
//     width: 360px;
//     height: 486px;
//     background: url('../../img/photoCart1.png')  no-repeat;
// }
// .cart3{
//     width: 360px;
//     height: 486px;
//     background: url('../../img/photoCart1.png')  no-repeat;
// }


// .btnCart{
    
// }