.wrapSalesDepartment {
  width: 120rem;
  margin: 0 auto;
  display: flex;

  .leftWrap {
    padding: 12rem 0px 12rem 0;
    img {
      width: 36rem;
      height: 54.4rem;
    }
  }

  .rightWrap {
    .wrapColumn {
      padding-left: 6rem;
      .title {
        padding: 24.6rem 0 05.6rem 0;

        h2 {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 700;
          font-size: 3.8rem;
          line-height: 120%;
          color: #212121;
        }
      }
      .wrapContent {
        display: grid;
        grid-template-columns: 51% 49%;

        .left {
          padding: 0 1.4rem 1.8rem 0;

          p {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 1.6rem;
            line-height: 140%;
            color: #212121;
            opacity: 0.5;
          }
        }
        .right {
          padding-left: 2.3rem;
          .rightContent {
            padding: 0 1.3rem 3.9rem 0;
            p {
              font-family: 'Montserrat';
              font-style: normal;
              font-weight: 500;
              font-size: 1.6rem;
              line-height: 140%;
              color: #212121;
            }
          }
        }

        .btn {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 500;
          font-size: 1.8rem;
          line-height: 2.2rem;
          color: #ffffff;
          width: 30.3rem;
          height: 6.2rem;
          background: #ff5900;
          backdrop-filter: blur(0.25rem);
          border-radius: 10rem;
          border: none;

          &:hover {
            background: #ca4600;
            backdrop-filter: blur(0.25rem);
            border-radius: 10rem;
          }
        }
      }
    }
  }
}
