.wrapCover {
    position: relative;
}

.wrapPhoto {
    width: 160rem;
    height: 71.6rem;

}

.content {
    position: absolute;
    top: 17rem;
    left: 20rem;
    width: 78rem;

    h1 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 6.8rem;
        line-height: 110%;
        color: #FFFFFF;
        padding-bottom: 2.8rem;

    }

    h3 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 140%;
        color: #FFFFFF;
        padding-bottom: 5.3rem;
    }

    .inputWrap {
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;

        .btnContentLeft {
            padding: 2rem 4rem;
            width: 36.2rem;
            height: 6.2rem;
            backdrop-filter: blur(0.25rem);
            -webkit-backdrop-filter: blur(0.25rem);
            background: #FF5900;
            border-radius: 10rem;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 1.8rem;
            line-height: 2.2rem;
            color: #FFFFFF;
            border: none;
            margin-right: 3.2rem;

        }

        .btnContentLeft:hover {
            background: #CA4600;
            backdrop-filter: blur(0.25rem)
        }

        .btnContentLeftTrue {
            padding: 1.8rem 2.6rem;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 1.8rem;
            line-height: 2.2rem;
            color: #FFFFFF;
            width: 34.1rem;
            height: 6.2rem;
            background: rgba(255, 255, 255, 0.2);
            border: 0.1rem solid #FFFFFF;
            backdrop-filter: blur(0.25rem);
            border-radius: 10rem;
            margin-right: 3.2rem;
        }

        .btnContentRightTrue {
            padding: 2rem 4rem;
            width: 36.2rem;
            height: 6.2rem;
            backdrop-filter: blur(0.25rem);
            -webkit-backdrop-filter: blur(0.25rem);
            background: #FF5900;
            border-radius: 10rem;
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 500;
            font-size: 1.8rem;
            line-height: 2.2rem;
            color: #FFFFFF;
            border: none;
            margin-right: 3.2rem;
        }

        .btnContentRight:hover {
            border: 0.1rem solid #FF5900;
            color: #FF5900;

        }

        .btnContentLeftTrue:hover {
            border: 0.1rem solid #FF5900;
            color: #FF5900;

        }

        .btnContentRightTrue:hover {
            background: #CA4600;
            backdrop-filter: blur(0.25rem);

        }

        .btnContentRight {

            width: 34.1rem;
            height: 6.2rem;
            background: rgba(255, 255, 255, 0.2);
            border: 0.1rem solid #FFFFFF;
            backdrop-filter: blur(0.25rem);
            -webkit-backdrop-filter: blur(0.25rem);
            border-radius: 10rem;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 1.8rem;
            line-height: 2.2rem;
            color: #FFFFFF;

        }
    }

}