.wrapOurResult {
  width: 1200px;
  margin: 0 auto;
}
.wrapOurResult .h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 120%;
  color: #212121;
  padding-bottom: 6rem;
}
.wrapOurResult .p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 140%;
  color: #212121;
  padding-bottom: 4rem;
}
.wrapOurResult .tab {
  overflow: hidden;
  background: #F4F4F4;
  width: 120rem;
}
.wrapOurResult .tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1.6rem 3.5rem;
  transition: 0.3s;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 140%;
  text-align: center;
  color: #212121;
  width: 24rem;
  height: 9rem;
  border-right: 0.1rem solid rgba(51, 51, 51, 0.2);
  border-left: 0.1rem solid rgba(51, 51, 51, 0.2);
}
.wrapOurResult .tablinks {
  background: #333333;
  border-right: 0.1rem solid rgba(51, 51, 51, 0.2);
}
.wrapOurResult .tab button:hover {
  background: #FF5900;
  border-right: 0.1rem solid rgba(51, 51, 51, 0.2);
  color: #FFFFFF;
}
.wrapOurResult button .active {
  background: #FF5900;
  border-right: 0.1rem solid rgba(51, 51, 51, 0.2);
  color: #FFFFFF;
}
.wrapOurResult .active {
  border: none;
  color: #FFFFFF;
}
.wrapOurResult .tablinks.active {
  background: #FF5900;
  border-right: 0.1rem solid rgba(51, 51, 51, 0.2);
  border: none;
  color: #FFFFFF;
}
.wrapOurResult li:nth-child(2):before,
.wrapOurResult li:nth-child(3):before,
.wrapOurResult li:nth-child(4):before,
.wrapOurResult li:nth-child(5):before,
.wrapOurResult li:nth-child(6):before,
.wrapOurResult li:nth-child(7):before {
  content: "";
  display: inline-block;
  height: 0.2rem;
  width: 0.2rem;
  vertical-align: middle;
  border-radius: 50%;
  background-color: #000;
  margin-right: 0.9rem;
  margin-left: 0.9rem;
}
.wrapOurResult .tabcontent {
  display: none;
  /* padding: 40px 275px 50px 275px; */
  display: flex;
  background: #FFFFFF;
  border: 0.1rem solid rgba(51, 51, 51, 0.2);
  height: 100%;
  justify-content: space-between;
}
.wrapOurResult .tabcontent ul {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 140%;
  color: #212121;
  padding: 4rem 18.6rem 6rem 4rem;
}
.wrapOurResult .tabcontent .imgq {
  padding: 2.2rem 7rem 0rem 0rem;
}
.wrapOurResult .tabcontent .imgq .img1 {
  background: url("../../img/Screen.png") no-repeat center;
  width: 26.7rem;
  height: 25.8rem;
  background-size: cover;
}
.wrapOurResult .tabcontent .imgq .img2 {
  background: url("../../img/image22.png") no-repeat center;
  width: 26.7rem;
  height: 25.8rem;
  background-size: cover;
}
.wrapOurResult .tabcontent .imgq .img3 {
  background: url("../../img/image33.png") no-repeat center;
  width: 26.7rem;
  height: 25.8rem;
  background-size: contain;
}
.wrapOurResult .tabcontent .imgq .img4 {
  background: url("../../img/image44.png") no-repeat center;
  width: 26.7rem;
  height: 25.8rem;
  background-size: contain;
}
.wrapOurResult .tabcontent .imgq .img5 {
  background: url("../../img/image55.png") no-repeat center;
  background-size: contain;
  width: 26.7rem;
  height: 25.8rem;
}/*# sourceMappingURL=WorkWithUs.module.css.map */