.cartWrap{

    .img1{
        background: url('../../img/photo111.png') no-repeat ;
        width: 36rem;
        height: 36rem;
        background-size: cover;        
        
    }
    
    .img2{
        background: url('../../img/photo222.png') no-repeat ;
        width: 36rem;
        height: 36rem;
        background-size: cover;
    }
    .img3{
        background: url('../../img/photo333.png') no-repeat ;
        width: 36rem;
        height: 36rem;
        background-size: cover;
    }
}

    .names{  
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 140%;
        color: #333333; 
        padding-top: 2rem;
        
     }
    .jobTitles{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 140%;
        // text-align: center;
        color: #212121;
        opacity: 0.5;
        padding-top: 0.4rem;
            
    }   


   




