.wrapMenuDown{
    width: 120rem;
    height: 5.2rem;
    background: #FFFFFF;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.5rem;
 
       
    // .dropDown{
    //     position: absolute;
    //     background: #FFFFFF;
    //     top: 100%;
    //     left: 0;
    //     width: 35.2rem;
    //     opacity:0;
    //     visibility:hidden;
    //     transition: opacity 0.8s ease-in-out, visibility 0.8s ease-in-out;
        
    // }
    // .dropDown:hover{
    //     position: absolute;
    //     background: #FFFFFF;
    //     top: 100%;
    //     left: 0;
    //     width: 35.2rem;
    //     z-index: 2;;
    //     opacity: 1;
    //     visibility: visible;
    //     transition: opacity 0.8s ease-in-out, visibility 0.8s ease-in-out;

    // }
    .dropDownList {
        position: absolute;
        background: #FFFFFF;
        top: 100%;
        left: 0;
        width: 35.2rem;
        z-index: 2;
        opacity: 1;
        // visibility: visible;
        // transition: opacity 0.8s ease-in-out, visibility 0.3s ease-in-out;


    }
    
    

    .realit{
            position: relative;
        }
        .dropDownLink{
            display: block;
            width: 100%;
            padding: 0.5rem 1rem;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 1.4rem;
            line-height: 120%;
            letter-spacing: 0.01em;
            text-transform: uppercase;
            color: #212121;
            opacity: 0.5;
            border-bottom: 0.1rem solid #212121;

        }
     

   .menuBtn {
        cursor: pointer;
        background: #FFFFFF;
        border: none;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 120%;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        color: #212121;
        position: relative;
        
        }
        .menuBtn::after {
            content: '';
            position: absolute;
            right: -1.4rem;
            top: 0.5rem;
            background: url('../../img/Vector1.svg')  no-repeat;
            width: 1rem;
            height: 0.5rem;
            
            }
                ul li{
            
    
            a{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 1.4rem;
                line-height: 120%;
                letter-spacing: 0.01em;
                text-transform: uppercase;
                color: #212121;

            }
        } 
     
    .map{
        display: flex;
        margin-left: auto;
       & li{
            margin-right: 4rem;

        }
    }
    .search:hover{
       fill: opacity 3;
       
    }
    
      
}

