.BenefitsWrap {
  width: 120rem;
  margin: 0 auto;

  .BenefitsTitle {
    padding-top: 10rem;
    padding-bottom: 7rem;

    p {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 3.8rem;
      line-height: 120%;
      color: #212121;
    }
  }

  .grid {
    display: grid;
  }

  .ulBenefits {
    display: grid;
    grid-template-columns: repeat(auto-fill, 30%);
    justify-content: space-between;
    grid-row-gap: 4rem;
  }

  & li:nth-child(1) p {
    width: 27rem;
    height: 4.4rem;
  }

  & li:nth-child(2) p {
    width: 33.1rem;
    height: 4.4rem;
  }

  & li:nth-child(3) p {
    width: 31rem;
    height: 4.4rem;
  }

  & li:nth-child(4) p {
    width: 27.1rem;
    height: 4.4rem;
  }

  & li:nth-child(5) p {
    width: 22rem;
    height: 4.4rem;
  }

  & li:nth-child(6) p {
    width: 28rem;
    height: 4.4rem;
  }
}
